/* Couleur d'arrière plan */

body {
    background-color: rgba(0, 0, 0, 0.8);
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}


/* Bouton > */

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* Surbrillance du bouton > */

button:hover {
    background-color: #337935;
}


/* Bouton validation */

.validation_perso_creation {
    background-color: #00ff37;
    border: none;
    color: white;
    padding: 16px 16px;
    text-align: center;
    font-size: 36px;
    margin: 4px 2px;
    width: 175px;
    opacity: 0.6;
    transition: 1s;
    margin-top: 120px;
}


/* Surbrillance bouton validation */

.validation_perso_creation:hover {
    opacity: 1;
    background-color: #72df3f;
    width: 300px;
}


/* Bouton precedent  */

.precedent_perso_creation {
    background-color: #ff0800;
    border: none;
    color: white;
    padding: 16px 16px;
    text-align: center;
    font-size: 36px;
    margin: 4px 2px;
    width: 175px;
    opacity: 0.6;
    transition: 1s;
}


/* Surbrillance bouton precedent */

.precedent_perso_creation:hover {
    opacity: 1;
    background-color: #b60600;
    width: 300px;
}


/* Titre (Creation personnage) */

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    font-weight: 300;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: rgb(180, 180, 180) 3px 0 11px;
    transition: 1s;
}

h1:hover {
    text-shadow: rgb(218, 218, 218) 11px 0 19px;
}


/* Zone de texte qui s'adapte avec ces paramètres */

a {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    font-weight: 100;
    color: white;
}


/* Div de tout les choix de customisation */

.menu_creation_perso {
    margin-top: 120px;
}


/* Bouton accueil */

.accueil_bouton {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    transition: 1s;
    margin-left: 10px;
    top: 100%;
    padding: 5px;
}


/* Hover du bouton accueil */

.accueil_bouton:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.80);
    height: 60px;
    width: 60px;
}


/* Image du bouton accueil */

.maison {
    width: 100%;
    height: auto;
    margin: 0px;
}


/* Bouton compte */

.compte_bouton {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    transition: 1s;
    margin-left: 10px;
    top: 100%;
    padding: 5px;
}


/* Hover du bouton compte */

.compte_bouton:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.80);
    height: 60px;
    width: 60px;
}


/* Image du bouton compte */

.login {
    width: 100%;
    height: auto;
    margin: 0px;
}


/* Bouton parametre */

.parametre_bouton {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    transition: 1s;
    margin-left: 10px;
    padding: 5px;
    top: auto;
}


/* Hover du bouton de parametre */

.parametre_bouton:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.80);
    height: 60px;
    width: 60px;
}


/* Image de l'engrenage */

.engrenage {
    width: 100%;
    height: auto;
    margin: 0px;
}

#bouton_header {
    width: 100%;
    height: 100%;
}

#bouton_header div {
    float: left;
}

#sprite {
    margin: auto;
}