@font-face {
    font-family:'PressStart2P-Regular';
    src: url(PressStart2P-Regular.ttf);
}

body {
    background-color: #161616;
    overflow: hidden;
}

.full {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.column_end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.row_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row_around {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.space_between {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.justify_spaces {
    justify-content: space-between
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center_h {
    margin-left: 25%;
    margin-right: 25;
}

.above_text {
    position: relative;
    left: -50%;
}

body{
    background-color: rgba(0, 0, 0, 0.8);
}

.inscr {
    width: 1000px;
    height: 600px;
    overflow: hidden;
    background: #000000;
    border-radius: 12px;
    margin: 70px auto;
    box-shadow: 0px 0px 10000px rgba(117, 0, 0, 0.8);
    }

.inscr .titre{
    width: 1000px;
    height: 45px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 30px;
    text-align: center;
    color: #bfbfbf;
    text-shadow: rgb(255, 0, 0) 1px 0 8px;
    font-weight: bold;
    background: #121212;
    border: #2d2d2d solid 1px;
    margin-bottom: 30px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    -ms-flex-align: center;
    font-family: 'PressStart2P-Regular', 'Times New Roman', Times, serif;
}

.inscr .bouton{
    width: 1000px;
    font-size: large;
    -ms-flex-align: center;
    text-align: left;
    color: #bfbfbf;
    text-shadow: rgb(255, 0, 0);
    font-family: 'PressStart2P-Regular', 'Times New Roman', Times, serif;
}

.inscr .select{
    width: auto;
    height:12px;
    -ms-flex-align: start;
    text-align: start;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: rgb(189, 1, 1) 1px 0 8px;
    font-family: 'PressStart2P-Regular', 'Times New Roman', Times, serif;

}


