body {
    background-color: rgb(0, 0, 2);
    overflow: hidden;
}


/*
 * BASE
 */

.full {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.column_end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.row_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row_around {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.space_between {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.justify_spaces {
    justify-content: space-between
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center_h {
    margin-left: 25%;
    margin-right: 25;
}

.above_text {
    position: relative;
    left: -50%;
}

.ui_box {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 15%;
    right: 15%;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
}

.bt_x {
    margin-left: 10px;
    margin-top: 2px;
    border-radius: 5px;
    background-color: red;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: 1000;
    padding-right: 15px;
}


/*
 * DISPLAY
 */

#viewport {
    height: 100%;
    width: 100%;
    margin: 0;
}

#div_row_2 {}

#ui,
#loading,
#viewport {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#ui {
    z-index: 2;
}


/*
 *
 * PROGRESS BARS
 *
 */

progress {
    border: none;
    border-top: 1px solid white;
    width: 300px;
}

#progress_vie,
#progress_mana {
    height: 20px;
}

#progress_exp {
    height: 5px;
    width: 100%;
}

#progress_vie {
    background-color: black;
    color: white;
}

#progress_vie::-webkit-progress-value,
#progress_vie::-webkit-progress-value,
#progress_vie::-webkit-progress-bar,
#progress_vie::-moz-progress-bar {
    background: red;
}

#progress_mana {
    background-color: black;
    color: white
}

#progress_mana::-webkit-progress-value,
#progress_mana::-webkit-progress-value,
#progress_maba::-webkit-progress-bar,
#progress_mana::-moz-progress-bar {
    background: rgb(31, 158, 184);
}

#progress_exp {
    background-color: black;
    color: white;
}

#progress_exp::-webkit-progress-value,
#progress_exp::-webkit-progress-value,
#progress_exp::-webkit-progress-bar,
#progress_exp::-moz-progress-bar {
    background: rgb(238, 255, 0);
}


/*
 *
 * BUTTONS COMP WEAPONS AMMO
 *
 */

.img_comp {
    width: 50px;
    height: 50px;
}

.bt_1 {
    background-color: rgba(107, 56, 15, 0.9);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 2px;
}

.bt_1:hover {
    background-color: rgba(157, 96, 55, 0.7);
}

.bt_1:active {
    background-color: rgba(157, 96, 55, 0.5);
    border-radius: 8px;
}

.selectionne_ennemi {
    fill: rgba(255, 0, 0, 0.2);
}

.selectionne_objet {
    fill: rgba(0, 255, 0, 0.2);
}

.selectionne_terrain {
    fill: rgba(0, 0, 255, 0.2);
}

/*

*/

.bt_menu{
    margin: auto;
    padding: 5px;
    font-size: 1.22em;
}

#div_actions{
    font-size: 1.1em;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-top: 0px;
    background-color: rgba(255,255,255,0.4);
    border: 1px solid black;
    border-radius: 5px;
}