body{
    background-color: rgba(0, 0, 0, 0.8);
}

.validation_perso_creation{
    background-color: #00ff37;
    border: none;
    color: white;
    padding: 16px 16px;
    text-align: center;
    font-size: 36px;
    margin: 4px 2px;
    width: 175px;
    opacity: 0.6;
    transition: 1s;
    margin-top:120px;
}

.validation_perso_creation:hover {
    opacity: 1;
    background-color: #72df3f;
    width: 300px;
  }



.precedent_perso_creation{
    background-color: #ff0800;
    border: none;
    color: white;
    padding: 16px 16px;
    text-align: center;
    font-size: 36px;
    margin: 4px 2px;
    width: 175px;
    opacity: 0.6;
    transition: 1s;
    margin-top:120px;
}

.precedent_perso_creation:hover {
    opacity: 1;
    background-color: #b60600;
    width: 300px;
  }


h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    font-weight: 300;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: rgb(180, 180, 180) 1px 0 8px;
}

a{
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    font-weight: 100;
    color: white;
}



button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #337935;
  }



.menu_creation_perso {
    margin-top:120px;
}
